.example-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60vw;
  height: 300px;
  border: 2px solid black;
  margin: 1rem;
  box-shadow: 10px 10px 25px 7px grey;
}
img {
  height: auto;
  width: 200px;
  object-fit: scale-down;
}
.example-card:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 10px 10px 25px 7px #3f51b5;
}

.price {
  color: black;
}

.cart-btn {
  background-color: red;
}

mat-card-actions {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
