<mat-card
  class="example-card"
  [class.lg]="sizeCard === 'lg'"
  [class.md]="sizeCard === 'md'"
  [class.sm]="sizeCard === 'sm'"
>
  <div class="content" (click)="openModal(product)">
    <mat-card-header>
      <mat-card-title
        >{{ product.name }} - {{ product.price | currency }}</mat-card-title
      >
      <mat-card-subtitle>{{ product.brand }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
      <p>
        {{ product.description }}
      </p>
    </mat-card-content>
  </div>
  <button mat-button class="cart-btn" (click)="addToCart(product)">
    {{ "Add To Cart" | uppercase }}
  </button>
</mat-card>
